.introduce_tabs {
  padding-top: 76px;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      font-size:32px;
      font-weight:bold;
      color:rgba(17,17,17,1);
      line-height:36px;
      letter-spacing:5px;
      margin: 0 25px;
    }
    
    .title_img {

      &-left, &-right {
        width: 100px;
        height: 12px;
      }
      
      &-left {
      }

      &-right {
      }
    }
  }

  .tabs_type_list {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    .tabs_type_item {
      margin-right: 120px;

      &:last-child {
        margin-right: 0;
      }

      .type_name {
        font-size: 24px;
        color: #A2AEC0;
        text-align: center;
      }

      .tab_list {
        margin-top: 20px;

        .tab_item {
          display: inline-block;
          width: 85px;
          height: 85px;
          text-align: center;
          line-height: 81px;
          border: 2px solid rgba(0,113,255,1);
          border-radius: 50%;
          margin-right: 40px;
          font-size: 24px;
          font-weight: bold;
          color: #111111;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}